
@{
    ViewBag.Title = "Upload";
}


<div class="control-group" style="margin-top: 20px">
    <label for="textfield" class="control-label">Tải lên tệp báo cáo</label>
    <div class="controls">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append" style="display: flex; gap: 5px">
                <div class="uneditable-input span3">
                    <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-file">
                    <span class="fileupload-new">Chọn tệp tin</span>
                    <span class="fileupload-exists">Thay đổi</span><input type="file" />
                </span><a href="#"
                          class="btn fileupload-exists" data-dismiss="fileupload">Bỏ chọn</a>
            </div>
        </div>
    </div>
</div>

