
<div class="col-md-4">
    <h3>Quản lý báo cáo</h3>
    <p>Phần mềm quản lý các tệp tin báo cáo đã được mã hóa của đơn vị cấp dưới gửi lên đơn vị cấp trên, cho phép người dùng tạo đơn vị, quản lý các báo cáo của đơn vị cấu hình cũng như các đơn vị cấp con của họ.</p>
    <p><a href="https://asp.net" class="btn btn-primary">Tìm hiểu thêm &raquo;</a></p>
</div>

<div class="col-md-4">
    <h3>Cấu hình đơn vị cho tài khoản</h3>
    <p>Tạo tài khoản và cấu hình đơn vị, đơn vị cấp trên. Cần sự kiểm duyệt của đơn vị cấp cao nhất.</p>
    <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=273732">Tìm hiểu thêm &raquo;</a></p>
</div>

<div class="col-md-4">
    <h3>Tải lên báo cáo đã được mã hóa</h3>
    <p>Mã hóa báo cáo bằng AES, gửi lên và lưu trữ thông qua API của phần mềm.</p>
    <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=273732">Tìm hiểu thêm &raquo;</a></p>
</div>

<div class="col-md-4">
    <h3>Giải mã và tải về các báo cáo</h3>
    <p>Giải mã và tải về báo cáo dưới dạng Excel.</p>
    <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Tìm hiểu thêm &raquo;</a></p>
</div>


<div id="modal-1" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</div>

<a href="#modal-1" role="button" class="btn" data-toggle="modal">Basic modal</a>
